# Ignore Visual Studio temporary files
.vs/
obj/
bin/

# Ignore BepInEx and Game DLLs
*.dll

# Ignore local developer paths
Directory.Build.props
*.user

# Ignore the automated release outputs
Releases/

# Ignore the downloaded BepInEx zip files
ReleaseAssets/BepInEx*.zip

# Ignore the local config file
ReleaseAssets/*.cfg

# Ignore the Claude config file
CLAUDE.md